.services-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #111),
    url("https://d12852wca2dyvw.cloudfront.net/QuantumEdgeMATHs.png"),
    linear-gradient(rgba(0, 145, 255, 0.15), rgba(255, 255, 255, 0));
  background-position: 0 0, 50% 0, 0 0;
  background-repeat: repeat, repeat, repeat;
  background-size: auto, auto, auto;
  background-attachment: scroll, fixed, scroll;
  opacity: 1;
  padding-inline: 16px;
  padding-bottom: 40px;
  padding-top: 140px;
}

.background-img{
  background-image: url('https://assets-global.website-files.com/651ce31eb5c6123602f87af4/651ec37fbb42222ea8d6ff7b_Pattern%20(2).png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  opacity: 1;
  padding-block: 60px;
}

.background-img ul{
  padding-left:40px ;
}

.services-hero h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #EC8B5D, #EC6A2C); /* Added comma and end color */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  background-clip: text;
 
}
.card-section {
  padding-block: 60px;
}

.card {
  background-image: linear-gradient(to bottom, rgba(4, 110, 190, 0.16), #111);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px;
}

.card-wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.img-wrapper h2{
  
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #EC8B5D, #EC6A2C); /* Added comma and end color */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    background-clip: text;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 110%;
    font-weight: bold;
}

@media (min-width: 768px) {
  .services-hero {
    padding-top: 164px;
    padding-bottom: 132px;
  }
  .services-hero h1 {
    font-size: 112px;
  }
  .card-section {
    padding-block: 96px;
  }
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .background-img p{
    font-size: 20px ;
    line-height: 140%;
  }
  .section-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .img-wrapper{
    max-width: 46%;
  }
  .content-wrapper{
    max-width: 46%;
  }
  .background-img{
    padding-block: 80px;
  }
  .img-wrapper h2{
    margin-bottom: 16px;
  }
  .para-typo{
    font-size: 32px !important;
    line-height: 140% !important;
  }
}
@media (min-width: 1024px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .background-img{
    padding-block: 96px;
  }
}
