.about-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #111),
    url("/QuantumEdgeMATHs.png"),
    linear-gradient(rgba(0, 145, 255, 0.15), rgba(255, 255, 255, 0));
  background-position: 0 0, 50% 0, 0 0;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;
  opacity: 1;
  padding-inline: 16px;
  padding-bottom: 40px;
  padding-top: 140px;
}

.about-hero h1{
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 400;
  line-height: 110%;
  overflow-wrap: normal;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #EC8B5D, #EC6A2C); /* Added comma and end color */
  --webkit-background-clip: text;
  background-clip: text;
}

@media (min-width : 768px){
  .about-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }
  .about-detail p{
    flex-basis: 46%;
  } 
  .about-hero h1{
    font-size: 112px;
    line-height: 110%;
  }
}
